body {
	background-color: gray;
	color: white;
	font-family: helvetica;
}

.main-login {
	background-color: rgb(44, 44, 44);
	height: 400px;
	width: 50%;
	margin-left: 25%;
	margin-top: 200px;
	border-radius: 25px;
}

.main-login h1 {
	margin-top: 10px;
	text-align: center;
	
}


.info-login input {
	width: 50%;
	display: block;
	margin-left:25%;
	margin-right: auto;
}

.info-login .btn1 {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 25px;
	width: auto;
}

.input-login {
	border-radius:10px;
  	border: 1px solid #eee;
  	transition: .3s border-color;
	display:block;
	width:100%;
	margin:10px 0;
	padding:10px;
}

.btn1 {
	
	display: inline-block;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	border-radius: 8px;
	padding: 14px 24px;
	border: none;
	transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
	background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
	color: #fff;
}


.square-login img {
	width: 96px;
	height: 96px;
	object-fit: cover;	
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	display: block;
}
